:root {
  /* fix */
  --md-sys-color-primary-disabled-state-light: #e5ebdb;
  --md-sys-color-primary-disabled-state-dark: #242424;
  --md-sys-color-primary-pressed-state-light: #3d7221;
  --md-sys-color-primary-pressed-state-dark: #8ec072;
  --md-sys-color-primary-focus-state-light: #3d7221;
  --md-sys-color-primary-focus-state-dark: #8ec072;
  --md-sys-color-primary-hover-state-light: #3d7221;
  --md-sys-color-primary-hover-state-dark: #8ec072;
  
  --md-sys-state-pressed-state-layer-opacity-light: #E7EDE4;
  --md-sys-state-pressed-state-layer-opacity-dark: #131A0F;
  --md-sys-state-focus-state-layer-opacity-light: #E7EDE4;
  --md-sys-state-focus-state-layer-opacity-dark: #131A0F;
  --md-sys-state-hover-state-layer-opacity-light: #EFF3ED;
  --md-sys-state-hover-state-layer-opacity-dark: #0D110A;
  --md-sys-color-on-surface-text-disabled-light: #A8A9A7;
  --md-sys-color-on-surface-text-disabled-dark: #4B4C49;
  --md-sys-color-on-surface-disabled-light: #E4E4E3;
  --md-sys-color-on-surface-disabled-dark: #181817;

  --md-source: #D9E7CB;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #041500;
  --md-ref-palette-primary10: #082100;
  --md-ref-palette-primary15: #1C2A00;
  --md-ref-palette-primary20: #123800;
  --md-ref-palette-primary25: #184500;
  --md-ref-palette-primary30: #215105;
  --md-ref-palette-primary35: #2D5D13;
  --md-ref-palette-primary40: #396A1E;
  --md-ref-palette-primary50: #518435;
  --md-ref-palette-primary60: #6A9E4C;
  --md-ref-palette-primary70: #83BA64;
  --md-ref-palette-primary80: #9ED67D;
  --md-ref-palette-primary90: #B9F396;
  --md-ref-palette-primary95: #CDFFAE;
  --md-ref-palette-primary98: #EEFFDE;
  --md-ref-palette-primary99: #F7FFEC;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #091404;
  --md-ref-palette-secondary10: #131F0D;
  --md-ref-palette-secondary15: #212813;
  --md-ref-palette-secondary20: #283420;
  --md-ref-palette-secondary25: #333F2B;
  --md-ref-palette-secondary30: #3E4A35;
  --md-ref-palette-secondary35: #495640;
  --md-ref-palette-secondary40: #55624C;
  --md-ref-palette-secondary50: #6E7B63;
  --md-ref-palette-secondary60: #87957C;
  --md-ref-palette-secondary70: #A2B095;
  --md-ref-palette-secondary80: #BDCBAF;
  --md-ref-palette-secondary90: #D9E7CA;
  --md-ref-palette-secondary95: #E7F6D8;
  --md-ref-palette-secondary98: #F0FEE1;
  --md-ref-palette-secondary99: #F7FFEC;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001414;
  --md-ref-palette-tertiary10: #002020;
  --md-ref-palette-tertiary15: #002B27;
  --md-ref-palette-tertiary20: #003737;
  --md-ref-palette-tertiary25: #104243;
  --md-ref-palette-tertiary30: #1E4E4E;
  --md-ref-palette-tertiary35: #2B5A5A;
  --md-ref-palette-tertiary40: #386666;
  --md-ref-palette-tertiary50: #517F7F;
  --md-ref-palette-tertiary60: #6B9999;
  --md-ref-palette-tertiary70: #85B4B4;
  --md-ref-palette-tertiary80: #A0CFCF;
  --md-ref-palette-tertiary90: #BBEBEB;
  --md-ref-palette-tertiary95: #C9FAFA;
  --md-ref-palette-tertiary98: #E2FFFF;
  --md-ref-palette-tertiary99: #F1FFFE;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #10120E;
  --md-ref-palette-neutral10: #1A1C18;
  --md-ref-palette-neutral15: #252621;
  --md-ref-palette-neutral20: #2F312D;
  --md-ref-palette-neutral25: #3A3C37;
  --md-ref-palette-neutral30: #464742;
  --md-ref-palette-neutral35: #51534E;
  --md-ref-palette-neutral40: #5D5F5A;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918B;
  --md-ref-palette-neutral70: #ABACA5;
  --md-ref-palette-neutral80: #C6C7C0;
  --md-ref-palette-neutral90: #E3E3DC;
  --md-ref-palette-neutral95: #F1F1EA;
  --md-ref-palette-neutral98: #FAFAF3;
  --md-ref-palette-neutral99: #FDFDF5;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0E120A;
  --md-ref-palette-neutral-variant10: #181D15;
  --md-ref-palette-neutral-variant15: #24271D;
  --md-ref-palette-neutral-variant20: #2D3229;
  --md-ref-palette-neutral-variant25: #383D33;
  --md-ref-palette-neutral-variant30: #43483E;
  --md-ref-palette-neutral-variant35: #4F544A;
  --md-ref-palette-neutral-variant40: #5B6055;
  --md-ref-palette-neutral-variant50: #74796D;
  --md-ref-palette-neutral-variant60: #8D9286;
  --md-ref-palette-neutral-variant70: #A8ADA0;
  --md-ref-palette-neutral-variant80: #C3C8BB;
  --md-ref-palette-neutral-variant90: #E0E4D6;
  --md-ref-palette-neutral-variant95: #EEF3E4;
  --md-ref-palette-neutral-variant98: #F7FBED;
  --md-ref-palette-neutral-variant99: #FAFEF0;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #396A1E;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #B9F396;
  --md-sys-color-on-primary-container-light: #082100;
  --md-sys-color-primary-fixed-light: #B9F396;
  --md-sys-color-on-primary-fixed-light: #082100;
  --md-sys-color-primary-fixed-dim-light: #9ED67D;
  --md-sys-color-on-primary-fixed-variant-light: #215105;
  --md-sys-color-secondary-light: #55624C;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #D9E7CA;
  --md-sys-color-on-secondary-container-light: #131F0D;
  --md-sys-color-secondary-fixed-light: #D9E7CA;
  --md-sys-color-on-secondary-fixed-light: #131F0D;
  --md-sys-color-secondary-fixed-dim-light: #BDCBAF;
  --md-sys-color-on-secondary-fixed-variant-light: #3E4A35;
  --md-sys-color-tertiary-light: #386666;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #BBEBEB;
  --md-sys-color-on-tertiary-container-light: #002020;
  --md-sys-color-tertiary-fixed-light: #BBEBEB;
  --md-sys-color-on-tertiary-fixed-light: #002020;
  --md-sys-color-tertiary-fixed-dim-light: #A0CFCF;
  --md-sys-color-on-tertiary-fixed-variant-light: #1E4E4E;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #74796D;
  --md-sys-color-background-light: #FDFDF5;
  --md-sys-color-on-background-light: #1A1C18;
  --md-sys-color-surface-light: #FAFAF3;
  --md-sys-color-on-surface-light: #1A1C18;
  --md-sys-color-surface-variant-light: #E0E4D6;
  --md-sys-color-on-surface-variant-light: #43483E;
  --md-sys-color-inverse-surface-light: #2F312D;
  --md-sys-color-inverse-on-surface-light: #F1F1EA;
  --md-sys-color-inverse-primary-light: #9ED67D;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #396A1E;
  --md-sys-color-outline-variant-light: #C3C8BB;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E3E3DC;
  --md-sys-color-surface-container-high-light: #E8E9E2;
  --md-sys-color-surface-container-light: #EEEEE7;
  --md-sys-color-surface-container-low-light: #F4F4ED;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #FAFAF3;
  --md-sys-color-surface-dim-light: #DADAD4;
  /* dark */
  --md-sys-color-primary-dark: #9ED67D;
  --md-sys-color-on-primary-dark: #123800;
  --md-sys-color-primary-container-dark: #215105;
  --md-sys-color-on-primary-container-dark: #B9F396;
  --md-sys-color-primary-fixed-dark: #B9F396;
  --md-sys-color-on-primary-fixed-dark: #082100;
  --md-sys-color-primary-fixed-dim-dark: #9ED67D;
  --md-sys-color-on-primary-fixed-variant-dark: #215105;
  --md-sys-color-secondary-dark: #BDCBAF;
  --md-sys-color-on-secondary-dark: #283420;
  --md-sys-color-secondary-container-dark: #3E4A35;
  --md-sys-color-on-secondary-container-dark: #D9E7CA;
  --md-sys-color-secondary-fixed-dark: #D9E7CA;
  --md-sys-color-on-secondary-fixed-dark: #131F0D;
  --md-sys-color-secondary-fixed-dim-dark: #BDCBAF;
  --md-sys-color-on-secondary-fixed-variant-dark: #3E4A35;
  --md-sys-color-tertiary-dark: #A0CFCF;
  --md-sys-color-on-tertiary-dark: #003737;
  --md-sys-color-tertiary-container-dark: #1E4E4E;
  --md-sys-color-on-tertiary-container-dark: #BBEBEB;
  --md-sys-color-tertiary-fixed-dark: #BBEBEB;
  --md-sys-color-on-tertiary-fixed-dark: #002020;
  --md-sys-color-tertiary-fixed-dim-dark: #A0CFCF;
  --md-sys-color-on-tertiary-fixed-variant-dark: #1E4E4E;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #8D9286;
  --md-sys-color-background-dark: #1A1C18;
  --md-sys-color-on-background-dark: #E3E3DC;
  --md-sys-color-surface-dark: #121410;
  --md-sys-color-on-surface-dark: #C6C7C0;
  --md-sys-color-surface-variant-dark: #43483E;
  --md-sys-color-on-surface-variant-dark: #C3C8BB;
  --md-sys-color-inverse-surface-dark: #E3E3DC;
  --md-sys-color-inverse-on-surface-dark: #1A1C18;
  --md-sys-color-inverse-primary-dark: #396A1E;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #9ED67D;
  --md-sys-color-outline-variant-dark: #43483E;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #343531;
  --md-sys-color-surface-container-high-dark: #292B26;
  --md-sys-color-surface-container-dark: #1E201C;
  --md-sys-color-surface-container-low-dark: #1A1C18;
  --md-sys-color-surface-container-lowest-dark: #0D0F0B;
  --md-sys-color-surface-bright-dark: #383A35;
  --md-sys-color-surface-dim-dark: #121410;
  /* body - large */
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - small */
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 0.875em;
  --md-sys-typescale-label-large-line-height: 18px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
}
