:root {
  /* fix*/
  --md-sys-color-on-surface-text-disabled-light: #A9A8AA;
  --md-sys-color-on-surface-text-disabled-dark: #575559;
  --md-sys-color-on-surface-disabled-light: #CCCCCC;
  --md-sys-color-on-surface-disabled-dark: #1C1B1C;
  --md-sys-state-pressed-state-layer-opacity-light: #E8D6C5;
  --md-sys-state-pressed-state-layer-opacity-dark: #3A291F;
  --md-sys-state-focus-state-layer-opacity-light: #E8D6C5;
  --md-sys-state-focus-state-layer-opacity-dark: #3A291F;
  --md-sys-state-hover-state-layer-opacity-light: #EFE3D8;
  --md-sys-state-hover-state-layer-opacity-dark: #271C15;
  /* mormal */
  --md-source: #db6a00;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #1d0800;
  --md-ref-palette-primary5: #210a00;
  --md-ref-palette-primary6: #250c00;
  --md-ref-palette-primary10: #321300;
  --md-ref-palette-primary12: #381600;
  --md-ref-palette-primary17: #481e00;
  --md-ref-palette-primary20: #512300;
  --md-ref-palette-primary22: #582700;
  --md-ref-palette-primary24: #5f2a00;
  --md-ref-palette-primary25: #622c00;
  --md-ref-palette-primary30: #743500;
  --md-ref-palette-primary35: #863e00;
  --md-ref-palette-primary40: #984800;
  --md-ref-palette-primary50: #be5b00;
  --md-ref-palette-primary60: #e4700c;
  --md-ref-palette-primary70: #ff8d3c;
  --md-ref-palette-primary80: #ffb689;
  --md-ref-palette-primary87: #ffd1b6;
  --md-ref-palette-primary90: #ffdbc8;
  --md-ref-palette-primary92: #ffe3d3;
  --md-ref-palette-primary94: #ffeadf;
  --md-ref-palette-primary95: #ffede5;
  --md-ref-palette-primary96: #fff1ea;
  --md-ref-palette-primary98: #fff8f5;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #1b0901;
  --md-ref-palette-secondary5: #1e0c02;
  --md-ref-palette-secondary6: #210f03;
  --md-ref-palette-secondary10: #2b1709;
  --md-ref-palette-secondary12: #301a0d;
  --md-ref-palette-secondary17: #3b2516;
  --md-ref-palette-secondary20: #432b1c;
  --md-ref-palette-secondary22: #482f20;
  --md-ref-palette-secondary24: #4d3424;
  --md-ref-palette-secondary25: #4f3626;
  --md-ref-palette-secondary30: #5c4130;
  --md-ref-palette-secondary35: #684c3b;
  --md-ref-palette-secondary40: #755846;
  --md-ref-palette-secondary50: #90705e;
  --md-ref-palette-secondary60: #ac8a76;
  --md-ref-palette-secondary70: #c8a48f;
  --md-ref-palette-secondary80: #e5bfa9;
  --md-ref-palette-secondary87: #fad2bc;
  --md-ref-palette-secondary90: #ffdbc8;
  --md-ref-palette-secondary92: #ffe3d3;
  --md-ref-palette-secondary94: #ffeadf;
  --md-ref-palette-secondary95: #ffede5;
  --md-ref-palette-secondary96: #fff1ea;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #0f0f00;
  --md-ref-palette-tertiary5: #121200;
  --md-ref-palette-tertiary6: #141400;
  --md-ref-palette-tertiary10: #1d1d00;
  --md-ref-palette-tertiary12: #212100;
  --md-ref-palette-tertiary17: #2c2c04;
  --md-ref-palette-tertiary20: #323209;
  --md-ref-palette-tertiary22: #37360d;
  --md-ref-palette-tertiary24: #3b3b12;
  --md-ref-palette-tertiary25: #3d3d14;
  --md-ref-palette-tertiary30: #49491e;
  --md-ref-palette-tertiary35: #555529;
  --md-ref-palette-tertiary40: #616133;
  --md-ref-palette-tertiary50: #7a794a;
  --md-ref-palette-tertiary60: #949361;
  --md-ref-palette-tertiary70: #afae79;
  --md-ref-palette-tertiary80: #cbc992;
  --md-ref-palette-tertiary87: #dfdda4;
  --md-ref-palette-tertiary90: #e7e5ac;
  --md-ref-palette-tertiary92: #edebb2;
  --md-ref-palette-tertiary94: #f3f1b7;
  --md-ref-palette-tertiary95: #f6f4ba;
  --md-ref-palette-tertiary96: #f9f7bc;
  --md-ref-palette-tertiary98: #fffcc2;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #120d0a;
  --md-ref-palette-neutral5: #15100d;
  --md-ref-palette-neutral6: #18120f;
  --md-ref-palette-neutral10: #201a17;
  --md-ref-palette-neutral12: #241e1b;
  --md-ref-palette-neutral17: #2f2925;
  --md-ref-palette-neutral20: #362f2b;
  --md-ref-palette-neutral22: #3a3330;
  --md-ref-palette-neutral24: #3f3834;
  --md-ref-palette-neutral25: #413a36;
  --md-ref-palette-neutral30: #4d4541;
  --md-ref-palette-neutral35: #59514d;
  --md-ref-palette-neutral40: #655d58;
  --md-ref-palette-neutral50: #7e7571;
  --md-ref-palette-neutral60: #998f8a;
  --md-ref-palette-neutral70: #b4a9a4;
  --md-ref-palette-neutral80: #d0c4bf;
  --md-ref-palette-neutral87: #e4d8d2;
  --md-ref-palette-neutral90: #ece0da;
  --md-ref-palette-neutral92: #f2e6e0;
  --md-ref-palette-neutral94: #f8ebe6;
  --md-ref-palette-neutral95: #fbeee9;
  --md-ref-palette-neutral96: #fef1eb;
  --md-ref-palette-neutral98: #fff8f5;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #160c06;
  --md-ref-palette-neutral-variant5: #190f09;
  --md-ref-palette-neutral-variant6: #1b110b;
  --md-ref-palette-neutral-variant10: #241913;
  --md-ref-palette-neutral-variant12: #281d16;
  --md-ref-palette-neutral-variant17: #342720;
  --md-ref-palette-neutral-variant20: #3a2e26;
  --md-ref-palette-neutral-variant22: #3f322b;
  --md-ref-palette-neutral-variant24: #44362f;
  --md-ref-palette-neutral-variant25: #463931;
  --md-ref-palette-neutral-variant30: #52443c;
  --md-ref-palette-neutral-variant35: #5e4f47;
  --md-ref-palette-neutral-variant40: #6b5b53;
  --md-ref-palette-neutral-variant50: #84746b;
  --md-ref-palette-neutral-variant60: #9f8d83;
  --md-ref-palette-neutral-variant70: #bba79d;
  --md-ref-palette-neutral-variant80: #d7c2b8;
  --md-ref-palette-neutral-variant87: #ebd6cb;
  --md-ref-palette-neutral-variant90: #f4ded3;
  --md-ref-palette-neutral-variant92: #fae4d9;
  --md-ref-palette-neutral-variant94: #ffeadf;
  --md-ref-palette-neutral-variant95: #ffede5;
  --md-ref-palette-neutral-variant96: #fff1ea;
  --md-ref-palette-neutral-variant98: #fff8f5;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #984800;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdbc8;
  --md-sys-color-on-primary-container-light: #321300;
  --md-sys-color-primary-fixed-light: #ffdbc8;
  --md-sys-color-on-primary-fixed-light: #321300;
  --md-sys-color-primary-fixed-dim-light: #ffb689;
  --md-sys-color-on-primary-fixed-variant-light: #743500;
  --md-sys-color-secondary-light: #755846;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdbc8;
  --md-sys-color-on-secondary-container-light: #2b1709;
  --md-sys-color-secondary-fixed-light: #ffdbc8;
  --md-sys-color-on-secondary-fixed-light: #2b1709;
  --md-sys-color-secondary-fixed-dim-light: #e5bfa9;
  --md-sys-color-on-secondary-fixed-variant-light: #5c4130;
  --md-sys-color-tertiary-light: #616133;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #e7e5ac;
  --md-sys-color-on-tertiary-container-light: #1d1d00;
  --md-sys-color-tertiary-fixed-light: #e7e5ac;
  --md-sys-color-on-tertiary-fixed-light: #1d1d00;
  --md-sys-color-tertiary-fixed-dim-light: #cbc992;
  --md-sys-color-on-tertiary-fixed-variant-light: #49491e;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a17;
  --md-sys-color-outline-light: #84746b;
  --md-sys-color-inverse-on-surface-light: #fbeee9;
  --md-sys-color-inverse-surface-light: #362f2b;
  --md-sys-color-inverse-primary-light: #ffb689;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #984800;
  --md-sys-color-outline-variant-light: #d7c2b8;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f5;
  --md-sys-color-on-surface-light: #201a17;
  --md-sys-color-surface-variant-light: #f4ded3;
  --md-sys-color-on-surface-variant-light: #52443c;
  --md-sys-color-surface-container-highest-light: #ece0da;
  --md-sys-color-surface-container-high-light: #f2e6e0;
  --md-sys-color-surface-container-light: #f8ebe6;
  --md-sys-color-surface-container-low-light: #fef1eb;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e4d8d2;
  --md-sys-color-surface-bright-light: #fff8f5;
  /* dark */
  --md-sys-color-primary-dark: #ffb689;
  --md-sys-color-on-primary-dark: #512300;
  --md-sys-color-primary-container-dark: #743500;
  --md-sys-color-on-primary-container-dark: #ffdbc8;
  --md-sys-color-primary-fixed-dark: #ffdbc8;
  --md-sys-color-on-primary-fixed-dark: #321300;
  --md-sys-color-primary-fixed-dim-dark: #ffb689;
  --md-sys-color-on-primary-fixed-variant-dark: #743500;
  --md-sys-color-secondary-dark: #e5bfa9;
  --md-sys-color-on-secondary-dark: #432b1c;
  --md-sys-color-secondary-container-dark: #5c4130;
  --md-sys-color-on-secondary-container-dark: #ffdbc8;
  --md-sys-color-secondary-fixed-dark: #ffdbc8;
  --md-sys-color-on-secondary-fixed-dark: #2b1709;
  --md-sys-color-secondary-fixed-dim-dark: #e5bfa9;
  --md-sys-color-on-secondary-fixed-variant-dark: #5c4130;
  --md-sys-color-tertiary-dark: #cbc992;
  --md-sys-color-on-tertiary-dark: #323209;
  --md-sys-color-tertiary-container-dark: #49491e;
  --md-sys-color-on-tertiary-container-dark: #e7e5ac;
  --md-sys-color-tertiary-fixed-dark: #e7e5ac;
  --md-sys-color-on-tertiary-fixed-dark: #1d1d00;
  --md-sys-color-tertiary-fixed-dim-dark: #cbc992;
  --md-sys-color-on-tertiary-fixed-variant-dark: #49491e;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a17;
  --md-sys-color-on-background-dark: #ece0da;
  --md-sys-color-outline-dark: #9f8d83;
  --md-sys-color-inverse-on-surface-dark: #201a17;
  --md-sys-color-inverse-surface-dark: #ece0da;
  --md-sys-color-inverse-primary-dark: #984800;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb689;
  --md-sys-color-outline-variant-dark: #52443c;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #18120f;
  --md-sys-color-on-surface-dark: #d0c4bf;
  --md-sys-color-surface-variant-dark: #52443c;
  --md-sys-color-on-surface-variant-dark: #d7c2b8;
  --md-sys-color-surface-container-highest-dark: #3a3330;
  --md-sys-color-surface-container-high-dark: #2f2925;
  --md-sys-color-surface-container-dark: #241e1b;
  --md-sys-color-surface-container-low-dark: #201a17;
  --md-sys-color-surface-container-lowest-dark: #120d0a;
  --md-sys-color-surface-dim-dark: #18120f;
  --md-sys-color-surface-bright-dark: #3f3834;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
    /* display - large - thin */
    --md-sys-typescale-display-large-thin-font-family-name: NotoSansSC-Thin;
    --md-sys-typescale-display-large-thin-font-family-style: Thin;
    --md-sys-typescale-display-large-thin-font-weight: 100;
    --md-sys-typescale-display-large-thin-font-size: 57px;
    --md-sys-typescale-display-large-thin-line-height: 64px;
    --md-sys-typescale-display-large-thin-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - medium - Thin */
  --md-sys-typescale-display-medium-thin-font-family-name: NotoSansSC-Thin;
  --md-sys-typescale-display-medium-thin-font-family-style: Thin;
  --md-sys-typescale-display-medium-thin-font-weight: 100;
  --md-sys-typescale-display-medium-thin-font-size: 45px;
  --md-sys-typescale-display-medium-thin-line-height: 52px;
  --md-sys-typescale-display-medium-thin-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 0.875em;
  --md-sys-typescale-label-large-line-height: 18px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
