:root {
  /* fix*/
  --md-sys-color-on-surface-text-disabled-light: #A8A9A8;
  --md-sys-color-on-surface-text-disabled-dark: #575559;
  --md-sys-color-on-surface-disabled-light: #CBCCCC;
  --md-sys-color-on-surface-disabled-dark: #1C1B1C;
  --md-sys-state-pressed-state-layer-opacity-light: #C5DDDB;
  --md-sys-state-pressed-state-layer-opacity-dark: #13312D;
  --md-sys-state-focus-state-layer-opacity-light: #C5DDDB;
  --md-sys-state-focus-state-layer-opacity-dark: #13312D;
  --md-sys-state-hover-state-layer-opacity-light: #D8E8E6;
  --md-sys-state-hover-state-layer-opacity-dark: #0D221E;
  /* mormal */
  --md-source: #0b9b89;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #00110e;
  --md-ref-palette-primary5: #001411;
  --md-ref-palette-primary6: #001713;
  --md-ref-palette-primary10: #00201b;
  --md-ref-palette-primary12: #00251f;
  --md-ref-palette-primary17: #00302a;
  --md-ref-palette-primary20: #003730;
  --md-ref-palette-primary22: #003c34;
  --md-ref-palette-primary24: #004139;
  --md-ref-palette-primary25: #00443b;
  --md-ref-palette-primary30: #005046;
  --md-ref-palette-primary35: #005d52;
  --md-ref-palette-primary40: #006b5e;
  --md-ref-palette-primary50: #008676;
  --md-ref-palette-primary60: #00a390;
  --md-ref-palette-primary70: #30bfaa;
  --md-ref-palette-primary80: #56dbc5;
  --md-ref-palette-primary87: #6defd9;
  --md-ref-palette-primary90: #76f8e1;
  --md-ref-palette-primary92: #7cfee7;
  --md-ref-palette-primary94: #a2ffec;
  --md-ref-palette-primary95: #b5ffef;
  --md-ref-palette-primary96: #c7fff2;
  --md-ref-palette-primary98: #e5fff8;
  --md-ref-palette-primary99: #f3fffa;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #00110e;
  --md-ref-palette-secondary5: #001411;
  --md-ref-palette-secondary6: #001713;
  --md-ref-palette-secondary10: #06201b;
  --md-ref-palette-secondary12: #0a241f;
  --md-ref-palette-secondary17: #162e2a;
  --md-ref-palette-secondary20: #1c3530;
  --md-ref-palette-secondary22: #213934;
  --md-ref-palette-secondary24: #253e39;
  --md-ref-palette-secondary25: #27403b;
  --md-ref-palette-secondary30: #334b46;
  --md-ref-palette-secondary35: #3e5752;
  --md-ref-palette-secondary40: #4a635e;
  --md-ref-palette-secondary50: #637c76;
  --md-ref-palette-secondary60: #7c9690;
  --md-ref-palette-secondary70: #96b1aa;
  --md-ref-palette-secondary80: #b1ccc5;
  --md-ref-palette-secondary87: #c4e0d9;
  --md-ref-palette-secondary90: #cde8e1;
  --md-ref-palette-secondary92: #d2eee7;
  --md-ref-palette-secondary94: #d8f4ec;
  --md-ref-palette-secondary95: #dbf7ef;
  --md-ref-palette-secondary96: #defaf2;
  --md-ref-palette-secondary98: #e5fff8;
  --md-ref-palette-secondary99: #f3fffa;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #00101c;
  --md-ref-palette-tertiary5: #001320;
  --md-ref-palette-tertiary6: #001524;
  --md-ref-palette-tertiary10: #001e30;
  --md-ref-palette-tertiary12: #002236;
  --md-ref-palette-tertiary17: #0a2d42;
  --md-ref-palette-tertiary20: #133348;
  --md-ref-palette-tertiary22: #18384d;
  --md-ref-palette-tertiary24: #1d3c52;
  --md-ref-palette-tertiary25: #203e54;
  --md-ref-palette-tertiary30: #2c4a60;
  --md-ref-palette-tertiary35: #38556c;
  --md-ref-palette-tertiary40: #446279;
  --md-ref-palette-tertiary50: #5d7a92;
  --md-ref-palette-tertiary60: #7694ad;
  --md-ref-palette-tertiary70: #91afc9;
  --md-ref-palette-tertiary80: #accae5;
  --md-ref-palette-tertiary87: #bfdef9;
  --md-ref-palette-tertiary90: #cae6ff;
  --md-ref-palette-tertiary92: #d5ebff;
  --md-ref-palette-tertiary94: #e1f0ff;
  --md-ref-palette-tertiary95: #e6f2ff;
  --md-ref-palette-tertiary96: #ecf5ff;
  --md-ref-palette-tertiary98: #f6f9ff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0b0f0e;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral6: #101413;
  --md-ref-palette-neutral10: #191c1b;
  --md-ref-palette-neutral12: #1d201f;
  --md-ref-palette-neutral17: #272b2a;
  --md-ref-palette-neutral20: #2d3130;
  --md-ref-palette-neutral22: #323534;
  --md-ref-palette-neutral24: #363a39;
  --md-ref-palette-neutral25: #383c3b;
  --md-ref-palette-neutral30: #444746;
  --md-ref-palette-neutral35: #505352;
  --md-ref-palette-neutral40: #5c5f5e;
  --md-ref-palette-neutral50: #747876;
  --md-ref-palette-neutral60: #8e9190;
  --md-ref-palette-neutral70: #a9acaa;
  --md-ref-palette-neutral80: #c4c7c5;
  --md-ref-palette-neutral87: #d8dbd8;
  --md-ref-palette-neutral90: #e0e3e1;
  --md-ref-palette-neutral92: #e6e9e6;
  --md-ref-palette-neutral94: #eceeec;
  --md-ref-palette-neutral95: #eff1ef;
  --md-ref-palette-neutral96: #f2f4f2;
  --md-ref-palette-neutral98: #f7faf8;
  --md-ref-palette-neutral99: #fafdfa;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #07100e;
  --md-ref-palette-neutral-variant5: #091311;
  --md-ref-palette-neutral-variant6: #0c1513;
  --md-ref-palette-neutral-variant10: #141d1b;
  --md-ref-palette-neutral-variant12: #18211f;
  --md-ref-palette-neutral-variant17: #222c2a;
  --md-ref-palette-neutral-variant20: #293230;
  --md-ref-palette-neutral-variant22: #2d3734;
  --md-ref-palette-neutral-variant24: #323b39;
  --md-ref-palette-neutral-variant25: #343d3b;
  --md-ref-palette-neutral-variant30: #3f4946;
  --md-ref-palette-neutral-variant35: #4b5452;
  --md-ref-palette-neutral-variant40: #57605e;
  --md-ref-palette-neutral-variant50: #6f7976;
  --md-ref-palette-neutral-variant60: #899390;
  --md-ref-palette-neutral-variant70: #a3adaa;
  --md-ref-palette-neutral-variant80: #bec9c5;
  --md-ref-palette-neutral-variant87: #d2dcd8;
  --md-ref-palette-neutral-variant90: #dae5e1;
  --md-ref-palette-neutral-variant92: #e0eae7;
  --md-ref-palette-neutral-variant94: #e6f0ec;
  --md-ref-palette-neutral-variant95: #e9f3ef;
  --md-ref-palette-neutral-variant96: #ecf6f2;
  --md-ref-palette-neutral-variant98: #f1fcf8;
  --md-ref-palette-neutral-variant99: #f4fffa;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006b5e;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #76f8e1;
  --md-sys-color-on-primary-container-light: #00201b;
  --md-sys-color-primary-fixed-light: #76f8e1;
  --md-sys-color-on-primary-fixed-light: #00201b;
  --md-sys-color-primary-fixed-dim-light: #56dbc5;
  --md-sys-color-on-primary-fixed-variant-light: #005046;
  --md-sys-color-secondary-light: #4a635e;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cde8e1;
  --md-sys-color-on-secondary-container-light: #06201b;
  --md-sys-color-secondary-fixed-light: #cde8e1;
  --md-sys-color-on-secondary-fixed-light: #06201b;
  --md-sys-color-secondary-fixed-dim-light: #b1ccc5;
  --md-sys-color-on-secondary-fixed-variant-light: #334b46;
  --md-sys-color-tertiary-light: #446279;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #cae6ff;
  --md-sys-color-on-tertiary-container-light: #001e30;
  --md-sys-color-tertiary-fixed-light: #cae6ff;
  --md-sys-color-on-tertiary-fixed-light: #001e30;
  --md-sys-color-tertiary-fixed-dim-light: #accae5;
  --md-sys-color-on-tertiary-fixed-variant-light: #2c4a60;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fafdfa;
  --md-sys-color-on-background-light: #191c1b;
  --md-sys-color-outline-light: #6f7976;
  --md-sys-color-inverse-on-surface-light: #eff1ef;
  --md-sys-color-inverse-surface-light: #2d3130;
  --md-sys-color-inverse-primary-light: #56dbc5;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006b5e;
  --md-sys-color-outline-variant-light: #bec9c5;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f7faf8;
  --md-sys-color-on-surface-light: #191c1b;
  --md-sys-color-surface-variant-light: #dae5e1;
  --md-sys-color-on-surface-variant-light: #3f4946;
  --md-sys-color-surface-container-highest-light: #e0e3e1;
  --md-sys-color-surface-container-high-light: #e6e9e6;
  --md-sys-color-surface-container-light: #eceeec;
  --md-sys-color-surface-container-low-light: #f2f4f2;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d8dbd8;
  --md-sys-color-surface-bright-light: #f7faf8;
  /* dark */
  --md-sys-color-primary-dark: #56dbc5;
  --md-sys-color-on-primary-dark: #003730;
  --md-sys-color-primary-container-dark: #005046;
  --md-sys-color-on-primary-container-dark: #76f8e1;
  --md-sys-color-primary-fixed-dark: #76f8e1;
  --md-sys-color-on-primary-fixed-dark: #00201b;
  --md-sys-color-primary-fixed-dim-dark: #56dbc5;
  --md-sys-color-on-primary-fixed-variant-dark: #005046;
  --md-sys-color-secondary-dark: #b1ccc5;
  --md-sys-color-on-secondary-dark: #1c3530;
  --md-sys-color-secondary-container-dark: #334b46;
  --md-sys-color-on-secondary-container-dark: #cde8e1;
  --md-sys-color-secondary-fixed-dark: #cde8e1;
  --md-sys-color-on-secondary-fixed-dark: #06201b;
  --md-sys-color-secondary-fixed-dim-dark: #b1ccc5;
  --md-sys-color-on-secondary-fixed-variant-dark: #334b46;
  --md-sys-color-tertiary-dark: #accae5;
  --md-sys-color-on-tertiary-dark: #133348;
  --md-sys-color-tertiary-container-dark: #2c4a60;
  --md-sys-color-on-tertiary-container-dark: #cae6ff;
  --md-sys-color-tertiary-fixed-dark: #cae6ff;
  --md-sys-color-on-tertiary-fixed-dark: #001e30;
  --md-sys-color-tertiary-fixed-dim-dark: #accae5;
  --md-sys-color-on-tertiary-fixed-variant-dark: #2c4a60;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1b;
  --md-sys-color-on-background-dark: #e0e3e1;
  --md-sys-color-outline-dark: #899390;
  --md-sys-color-inverse-on-surface-dark: #191c1b;
  --md-sys-color-inverse-surface-dark: #e0e3e1;
  --md-sys-color-inverse-primary-dark: #006b5e;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #56dbc5;
  --md-sys-color-outline-variant-dark: #3f4946;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #101413;
  --md-sys-color-on-surface-dark: #c4c7c5;
  --md-sys-color-surface-variant-dark: #3f4946;
  --md-sys-color-on-surface-variant-dark: #bec9c5;
  --md-sys-color-surface-container-highest-dark: #323534;
  --md-sys-color-surface-container-high-dark: #272b2a;
  --md-sys-color-surface-container-dark: #1d201f;
  --md-sys-color-surface-container-low-dark: #191c1b;
  --md-sys-color-surface-container-lowest-dark: #0b0f0e;
  --md-sys-color-surface-dim-dark: #101413;
  --md-sys-color-surface-bright-dark: #363a39;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
    /* display - large - thin */
    --md-sys-typescale-display-large-thin-font-family-name: NotoSansSC-Thin;
    --md-sys-typescale-display-large-thin-font-family-style: Thin;
    --md-sys-typescale-display-large-thin-font-weight: 100;
    --md-sys-typescale-display-large-thin-font-size: 57px;
    --md-sys-typescale-display-large-thin-line-height: 64px;
    --md-sys-typescale-display-large-thin-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - medium - Thin */
  --md-sys-typescale-display-medium-thin-font-family-name: NotoSansSC-Thin;
  --md-sys-typescale-display-medium-thin-font-family-style: Thin;
  --md-sys-typescale-display-medium-thin-font-weight: 100;
  --md-sys-typescale-display-medium-thin-font-size: 45px;
  --md-sys-typescale-display-medium-thin-line-height: 52px;
  --md-sys-typescale-display-medium-thin-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 0.875em;
  --md-sys-typescale-label-large-line-height: 18px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
