:root {
  /* fix*/
  --md-sys-color-on-surface-text-disabled-light: #A8A9A8;
  --md-sys-color-on-surface-text-disabled-dark: #575559;
  --md-sys-color-on-surface-disabled-light: #CBCCCC;
  --md-sys-color-on-surface-disabled-dark: #1C1B1C;
  --md-sys-state-pressed-state-layer-opacity-light: #F0C8C5;
  --md-sys-state-pressed-state-layer-opacity-dark: #3A2926;
  --md-sys-state-focus-state-layer-opacity-light: #F0C8C5;
  --md-sys-state-focus-state-layer-opacity-dark: #3A2926;
  --md-sys-state-hover-state-layer-opacity-light: #F5D9D8;
  --md-sys-state-hover-state-layer-opacity-dark: #271B19;
  /* mormal */
  --md-source: #ff422c;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #270000;
  --md-ref-palette-primary5: #2c0100;
  --md-ref-palette-primary6: #310100;
  --md-ref-palette-primary10: #400100;
  --md-ref-palette-primary12: #480100;
  --md-ref-palette-primary17: #5c0200;
  --md-ref-palette-primary20: #680300;
  --md-ref-palette-primary22: #700300;
  --md-ref-palette-primary24: #780400;
  --md-ref-palette-primary25: #7d0400;
  --md-ref-palette-primary30: #920600;
  --md-ref-palette-primary35: #a80800;
  --md-ref-palette-primary40: #bf0b00;
  --md-ref-palette-primary50: #e42e1b;
  --md-ref-palette-primary60: #ff553e;
  --md-ref-palette-primary70: #ff8a77;
  --md-ref-palette-primary80: #ffb4a7;
  --md-ref-palette-primary87: #ffcfc7;
  --md-ref-palette-primary90: #ffdad4;
  --md-ref-palette-primary92: #ffe2dd;
  --md-ref-palette-primary94: #ffe9e5;
  --md-ref-palette-primary95: #ffedea;
  --md-ref-palette-primary96: #fff0ee;
  --md-ref-palette-primary98: #fff8f6;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #1c0806;
  --md-ref-palette-secondary5: #200b08;
  --md-ref-palette-secondary6: #230d0a;
  --md-ref-palette-secondary10: #2c1511;
  --md-ref-palette-secondary12: #311915;
  --md-ref-palette-secondary17: #3d231f;
  --md-ref-palette-secondary20: #442925;
  --md-ref-palette-secondary22: #492e29;
  --md-ref-palette-secondary24: #4e322d;
  --md-ref-palette-secondary25: #51342f;
  --md-ref-palette-secondary30: #5d3f3a;
  --md-ref-palette-secondary35: #6a4b45;
  --md-ref-palette-secondary40: #775651;
  --md-ref-palette-secondary50: #926f69;
  --md-ref-palette-secondary60: #ae8881;
  --md-ref-palette-secondary70: #caa29b;
  --md-ref-palette-secondary80: #e7bdb6;
  --md-ref-palette-secondary87: #fcd0c9;
  --md-ref-palette-secondary90: #ffdad4;
  --md-ref-palette-secondary92: #ffe2dd;
  --md-ref-palette-secondary94: #ffe9e5;
  --md-ref-palette-secondary95: #ffedea;
  --md-ref-palette-secondary96: #fff0ee;
  --md-ref-palette-secondary98: #fff8f6;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #150d00;
  --md-ref-palette-tertiary5: #181000;
  --md-ref-palette-tertiary6: #1b1200;
  --md-ref-palette-tertiary10: #251a00;
  --md-ref-palette-tertiary12: #2a1e00;
  --md-ref-palette-tertiary17: #372800;
  --md-ref-palette-tertiary20: #3e2e04;
  --md-ref-palette-tertiary22: #423308;
  --md-ref-palette-tertiary24: #47370c;
  --md-ref-palette-tertiary25: #4a390e;
  --md-ref-palette-tertiary30: #564419;
  --md-ref-palette-tertiary35: #635023;
  --md-ref-palette-tertiary40: #6f5c2e;
  --md-ref-palette-tertiary50: #8a7544;
  --md-ref-palette-tertiary60: #a58e5b;
  --md-ref-palette-tertiary70: #c1a973;
  --md-ref-palette-tertiary80: #ddc48c;
  --md-ref-palette-tertiary87: #f2d79e;
  --md-ref-palette-tertiary90: #fbe0a6;
  --md-ref-palette-tertiary92: #ffe5b0;
  --md-ref-palette-tertiary94: #ffecc7;
  --md-ref-palette-tertiary95: #ffefd2;
  --md-ref-palette-tertiary96: #fff2dd;
  --md-ref-palette-tertiary98: #fff8f2;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #120d0c;
  --md-ref-palette-neutral5: #15100f;
  --md-ref-palette-neutral6: #181211;
  --md-ref-palette-neutral10: #201a19;
  --md-ref-palette-neutral12: #251e1d;
  --md-ref-palette-neutral17: #2f2827;
  --md-ref-palette-neutral20: #362f2d;
  --md-ref-palette-neutral22: #3b3332;
  --md-ref-palette-neutral24: #3f3736;
  --md-ref-palette-neutral25: #413a38;
  --md-ref-palette-neutral30: #4d4544;
  --md-ref-palette-neutral35: #59504f;
  --md-ref-palette-neutral40: #655c5b;
  --md-ref-palette-neutral50: #7f7573;
  --md-ref-palette-neutral60: #998e8c;
  --md-ref-palette-neutral70: #b4a9a7;
  --md-ref-palette-neutral80: #d0c4c2;
  --md-ref-palette-neutral87: #e4d7d5;
  --md-ref-palette-neutral90: #ede0dd;
  --md-ref-palette-neutral92: #f3e5e3;
  --md-ref-palette-neutral94: #f8ebe9;
  --md-ref-palette-neutral95: #fbeeeb;
  --md-ref-palette-neutral96: #fef1ee;
  --md-ref-palette-neutral98: #fff8f6;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #160b0a;
  --md-ref-palette-neutral-variant5: #190e0c;
  --md-ref-palette-neutral-variant6: #1c110f;
  --md-ref-palette-neutral-variant10: #251917;
  --md-ref-palette-neutral-variant12: #291d1a;
  --md-ref-palette-neutral-variant17: #342725;
  --md-ref-palette-neutral-variant20: #3b2d2b;
  --md-ref-palette-neutral-variant22: #40312f;
  --md-ref-palette-neutral-variant24: #443633;
  --md-ref-palette-neutral-variant25: #473835;
  --md-ref-palette-neutral-variant30: #534341;
  --md-ref-palette-neutral-variant35: #5f4f4c;
  --md-ref-palette-neutral-variant40: #6c5a58;
  --md-ref-palette-neutral-variant50: #857370;
  --md-ref-palette-neutral-variant60: #a08c89;
  --md-ref-palette-neutral-variant70: #bca7a3;
  --md-ref-palette-neutral-variant80: #d8c2be;
  --md-ref-palette-neutral-variant87: #ecd5d1;
  --md-ref-palette-neutral-variant90: #f5ddd9;
  --md-ref-palette-neutral-variant92: #fbe3df;
  --md-ref-palette-neutral-variant94: #ffe9e5;
  --md-ref-palette-neutral-variant95: #ffedea;
  --md-ref-palette-neutral-variant96: #fff0ee;
  --md-ref-palette-neutral-variant98: #fff8f6;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #bf0b00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdad4;
  --md-sys-color-on-primary-container-light: #400100;
  --md-sys-color-primary-fixed-light: #ffdad4;
  --md-sys-color-on-primary-fixed-light: #400100;
  --md-sys-color-primary-fixed-dim-light: #ffb4a7;
  --md-sys-color-on-primary-fixed-variant-light: #920600;
  --md-sys-color-secondary-light: #775651;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdad4;
  --md-sys-color-on-secondary-container-light: #2c1511;
  --md-sys-color-secondary-fixed-light: #ffdad4;
  --md-sys-color-on-secondary-fixed-light: #2c1511;
  --md-sys-color-secondary-fixed-dim-light: #e7bdb6;
  --md-sys-color-on-secondary-fixed-variant-light: #5d3f3a;
  --md-sys-color-tertiary-light: #6f5c2e;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #fbe0a6;
  --md-sys-color-on-tertiary-container-light: #251a00;
  --md-sys-color-tertiary-fixed-light: #fbe0a6;
  --md-sys-color-on-tertiary-fixed-light: #251a00;
  --md-sys-color-tertiary-fixed-dim-light: #ddc48c;
  --md-sys-color-on-tertiary-fixed-variant-light: #564419;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a19;
  --md-sys-color-outline-light: #857370;
  --md-sys-color-inverse-on-surface-light: #fbeeeb;
  --md-sys-color-inverse-surface-light: #362f2d;
  --md-sys-color-inverse-primary-light: #ffb4a7;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #bf0b00;
  --md-sys-color-outline-variant-light: #d8c2be;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f6;
  --md-sys-color-on-surface-light: #201a19;
  --md-sys-color-surface-variant-light: #f5ddd9;
  --md-sys-color-on-surface-variant-light: #534341;
  --md-sys-color-surface-container-highest-light: #ede0dd;
  --md-sys-color-surface-container-high-light: #f3e5e3;
  --md-sys-color-surface-container-light: #f8ebe9;
  --md-sys-color-surface-container-low-light: #fef1ee;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e4d7d5;
  --md-sys-color-surface-bright-light: #fff8f6;
  /* dark */
  --md-sys-color-primary-dark: #ffb4a7;
  --md-sys-color-on-primary-dark: #680300;
  --md-sys-color-primary-container-dark: #920600;
  --md-sys-color-on-primary-container-dark: #ffdad4;
  --md-sys-color-primary-fixed-dark: #ffdad4;
  --md-sys-color-on-primary-fixed-dark: #400100;
  --md-sys-color-primary-fixed-dim-dark: #ffb4a7;
  --md-sys-color-on-primary-fixed-variant-dark: #920600;
  --md-sys-color-secondary-dark: #e7bdb6;
  --md-sys-color-on-secondary-dark: #442925;
  --md-sys-color-secondary-container-dark: #5d3f3a;
  --md-sys-color-on-secondary-container-dark: #ffdad4;
  --md-sys-color-secondary-fixed-dark: #ffdad4;
  --md-sys-color-on-secondary-fixed-dark: #2c1511;
  --md-sys-color-secondary-fixed-dim-dark: #e7bdb6;
  --md-sys-color-on-secondary-fixed-variant-dark: #5d3f3a;
  --md-sys-color-tertiary-dark: #ddc48c;
  --md-sys-color-on-tertiary-dark: #3e2e04;
  --md-sys-color-tertiary-container-dark: #564419;
  --md-sys-color-on-tertiary-container-dark: #fbe0a6;
  --md-sys-color-tertiary-fixed-dark: #fbe0a6;
  --md-sys-color-on-tertiary-fixed-dark: #251a00;
  --md-sys-color-tertiary-fixed-dim-dark: #ddc48c;
  --md-sys-color-on-tertiary-fixed-variant-dark: #564419;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a19;
  --md-sys-color-on-background-dark: #ede0dd;
  --md-sys-color-outline-dark: #a08c89;
  --md-sys-color-inverse-on-surface-dark: #201a19;
  --md-sys-color-inverse-surface-dark: #ede0dd;
  --md-sys-color-inverse-primary-dark: #bf0b00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb4a7;
  --md-sys-color-outline-variant-dark: #534341;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #181211;
  --md-sys-color-on-surface-dark: #d0c4c2;
  --md-sys-color-surface-variant-dark: #534341;
  --md-sys-color-on-surface-variant-dark: #d8c2be;
  --md-sys-color-surface-container-highest-dark: #3b3332;
  --md-sys-color-surface-container-high-dark: #2f2827;
  --md-sys-color-surface-container-dark: #251e1d;
  --md-sys-color-surface-container-low-dark: #201a19;
  --md-sys-color-surface-container-lowest-dark: #120d0c;
  --md-sys-color-surface-dim-dark: #181211;
  --md-sys-color-surface-bright-dark: #3f3736;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
    /* display - large - thin */
    --md-sys-typescale-display-large-thin-font-family-name: NotoSansSC-Thin;
    --md-sys-typescale-display-large-thin-font-family-style: Thin;
    --md-sys-typescale-display-large-thin-font-weight: 100;
    --md-sys-typescale-display-large-thin-font-size: 57px;
    --md-sys-typescale-display-large-thin-line-height: 64px;
    --md-sys-typescale-display-large-thin-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - medium - Thin */
  --md-sys-typescale-display-medium-thin-font-family-name: NotoSansSC-Thin;
  --md-sys-typescale-display-medium-thin-font-family-style: Thin;
  --md-sys-typescale-display-medium-thin-font-weight: 100;
  --md-sys-typescale-display-medium-thin-font-size: 45px;
  --md-sys-typescale-display-medium-thin-line-height: 52px;
  --md-sys-typescale-display-medium-thin-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 0.875em;
  --md-sys-typescale-label-large-line-height: 18px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: NotoSansSC-Regular;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: NotoSansSC-Medium;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
