:host {
  box-sizing: border-box;
  display: flow-root;
  position: relative;
  padding-bottom: 14px;
}
:host .u2-form-item__error {
  position: absolute;
  left: 16px;
  bottom: 0;
  color: var(--md-sys-color-error);
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
