:host {
    box-sizing: border-box;
    display: flow-root;
    height: fit-content;
    cursor: text;
}
:host([variant="filled"]) { /* variant filled */
    padding: 8px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface-variant);
    border-bottom: 1px solid var(--md-sys-color-on-surface-variant);
    transition: background-color 100ms cubic-bezier(0.2, 0, 0, 1);
}
:host([variant="filled"]) .label {
    display: inline-block;
    padding: 0 16px;
    overflow: hidden;
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    font-size: var(--md-sys-typescale-body-small-font-size);
    letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);
    white-space: nowrap;
}
:host([variant="filled"]) > textarea {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 1rem;
    caret-color: var(--md-sys-color-primary);
    padding: 0 16px;
    resize: none;
    width: 100%;
    height: fit-content;
    outline: none;
    border: none;
    background-color: transparent;
}
:host([variant="outlined"]) { /* variant outlined */
    position: relative;
    border-radius: 4px;
    outline: 1px solid var(--md-sys-color-outline);
}
:host([variant="outlined"]) {
    margin-top: 12px;
}
:host([variant="outlined"]) .label {
    position: absolute;
    top: -8px;
    left: 16px;
    padding: 0 4px;
    border-radius: 4px;
    width: fit-content;
    color: var(--md-sys-color-on-surface);
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    font-size: var(--md-sys-typescale-body-small-font-size);
    letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);
    background-color: #fff;
}
:host([variant="outlined"]) > textarea {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 1rem;
    caret-color: var(--md-sys-color-primary);
    margin-top: 8px;
    padding: 0 16px;
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
/* state */
:host(:hover[variant="filled"]) {
    background-color: var(--md-sys-state-hover-state-layer-opacity);
    transition: background-color 100ms cubic-bezier(0.2, 0, 0, 1);
}
:host(:focus[variant="filled"]) {
    background-color: var(--md-sys-state-hover-state-layer-opacity);
    transition: background-color 100ms cubic-bezier(0.2, 0, 0, 1);
    border-bottom: 1px solid var(--md-sys-color-primary);
}
:host(:focus[variant="filled"]) .label {
    color: var(--md-sys-color-primary);
}
:host(:focus[variant="outlined"]) {
    outline: 2px solid var(--md-sys-color-primary);
    z-index: 100;
}
:host(:focus[variant="outlined"]) .label {
    color: var(--md-sys-color-primary);
}
/* error */
:host([variant="filled"][class~="error"]) {
    border-bottom: 1px solid var(--md-sys-color-error);
}
:host([variant="outlined"][class~="error"]) {
    outline: 1px solid var(--md-sys-color-error);
}
/* label */
:host([class~="error"]) .label {
    color: var(--md-sys-color-error);
}
