:host {
    display: flow-root;
    height: fit-content;
    cursor: text;
}
:host([variant="filled"]) { /* variant filled */
    padding: 8px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface-variant);
    border-bottom: 1px solid var(--md-sys-color-on-surface-variant);
    transition: background-color 100ms cubic-bezier(0.2, 0, 0, 1);
}
:host([variant="filled"]) > textarea {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 1rem;
    caret-color: var(--md-sys-color-primary);
    margin: 0 8px;
    resize: none;
    width: 100%;
    height: fit-content;
    outline: none;
    border: none;
    background-color: transparent;
}
:host([variant="outlined"]) { /* variant outlined */
    border-radius: 4px;
    outline: 1px solid var(--md-sys-color-outline);
}
:host([variant="outlined"]) > textarea {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 1rem;
    caret-color: var(--md-sys-color-primary);
    margin: 8px;
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
/* state */
:host(:hover[variant="filled"]) {
    background-color: var(--md-sys-state-hover-state-layer-opacity);
    transition: background-color 100ms cubic-bezier(0.2, 0, 0, 1);
}
:host(:focus[variant="outlined"]) {
    outline: 2px solid var(--md-sys-color-primary);
    z-index: 100;
}
