:host {
    -webkit-tap-highlight-color: transparent;
}
:host button,
:host li {
    background: none;
    border: none;
    cursor: inherit;
    padding: 0;
    margin: 0;
    text-align: unset;
    text-decoration: none;
}
:host .list-item {
    border-radius: inherit;
    display: flex;
    flex: 1;
    max-width: inherit;
    min-width: inherit;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}
:host .list-item.interactive {
    cursor: pointer;
}
:host .list-item.disabled {
    opacity: 58%;
    pointer-events: none;
}
/* type */
:host(:is([type='button']:not([disabled]))) {
    cursor: pointer;
}
:host [slot='container'] {
    pointer-events: none;
}
:host :is([slot='start'], [slot='end'])::slotted(*) {
    fill: currentColor;
}

:host [slot='start'] {
    /* TODO: color */
}

:host [slot='end'] {
    /* TODO: color */
}
